body {
    background-color: #eeeeee;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 70px;
    margin: auto;
}

.auth-card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    border-radius: 5px;
    position: relative;
    width: 450px;
    padding: 3px 2% 0;
    margin: 15% auto auto;
}

.form-heading {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.create-bucket-button {
    background-color: #26a69a;
    border: solid 1px #26a69a;
}

#sign-in-button {
    font-weight: lighter;
    font-size: 1.5em;
}

#auth-header {
    font-weight: lighter;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 5%;
}

.in-focus:focus{
    border: solid 2px #26a69a;
}
